@model CoverType

<form method="post" asp-action="DeleteCoverType">
    <input asp-for="Id" hidden/>
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Cover Type</h2>
            <hr />
        </div>

        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" disabled/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-danger" style="width:180px">Delete</button>
        <a asp-controller="CoverType" asp-action="Index" class="btn btn-warning" style="width:180px">Back to list</a>
    </div>

</form>
